.idea/
data/
data_on_Gerry2019/
code/outputs

__pycache__/
.ipynb_checkpoints/
VERSION
*.egg-info/
.coverage
.pytest_cache/*
docs/_build/*
docs/api/*

*.aux
*.log
*.toc
*.synctex.gz
*.out
*.bbl
acs-*.bib
*.bib.bak
*.bib.sav
*.blg
.DS_Store
